<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with context %}
    <title>{{ data['title'] }} - NASA APOD</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with context %}
    <h1>{{ data['title'] }} - {{ data['date'] }}</h1>
    
    <div>
        <img src="{{ data['url'] }}" alt="APOD Image" style="max-width: 100%; height: auto;">
    </div>
    
    <p>{{ data['explanation'] }}</p>
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>
</html>